[user]
	email = kamil@rollc.at
	name = Kamil Cholewinski

[core]
	# System-wide .gitignore
	excludesfile = ~/.gitignore-global

[pull]
	# When pulling, rebase instead of merging
	rebase = true
        ff = true

[push]
	default = current

[gc]
	auto = 0

[magit]
	extension = svn

[merge]
	conflictstyle = diff3

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master

# Sign commits with SSH key
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
	allowedSignersFile = ~/.ssh/allowed_signers
